use nix
#export PATH="$(python -c$'import os\nl=[]\nfor d in os.environ["PATH"].split(":"):\n\tif d not in l:\n\t\tl+=[d]\nprint(":".join(l))')"
export PATH="$(python -c"from collections import OrderedDict as O;print(':'.join(O(map(lambda x:(x,0),'$PATH'.split(':'))).keys()))")"
